rest/src/main/resources/schedule.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.ktelabs.ru/springsoap/gen"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ktelabs.ru/springsoap/gen" targetNamespace="http://www.ktelabs.ru/springsoap/gen">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://www.ktelabs.ru/springsoap/gen" elementFormDefault="qualified">

            <xs:element name="getScheduleRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="workingDays" type="xs:string" />
                        <xs:element name="duration" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getScheduleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="recordingTimes" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getScheduleResponse">
        <wsdl:part element="tns:getScheduleResponse" name="getScheduleResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getScheduleRequest">
        <wsdl:part element="tns:getScheduleRequest" name="getScheduleRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="SchedulesPort">
        <wsdl:operation name="getSchedule">
            <wsdl:input message="tns:getScheduleRequest" name="getScheduleRequest">
            </wsdl:input>
            <wsdl:output message="tns:getScheduleResponse" name="getScheduleResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SchedulesPortSoap11" type="tns:SchedulesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getSchedule">
            <soap:operation soapAction="" />
            <wsdl:input name="getScheduleRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getScheduleResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SchedulesPortService">
        <wsdl:port binding="tns:SchedulesPortSoap11" name="SchedulesPortSoap11">
            <soap:address location="http://localhost:9090/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>