rest/src/main/resources/schedule.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="kte-labs-soap-web-service" elementFormDefault="qualified">

    <xs:element name="getScheduleRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="workingDays" type="xs:string" />
                <xs:element name="duration" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getScheduleResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="recordingTimes" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>